input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    /* Optional: Adjust spacing */
}

table.sudoku-grid tbody tr td:nth-child(3n) {
    border-right: 2px solid black;
}

table.sudoku-grid tbody tr td:nth-child(1) {
    border-left: 2px solid black;
}

table.sudoku-grid tbody tr:nth-child(3n) {
    border-bottom: 2px solid black;
}

table.sudoku-grid tbody tr:nth-child(1) {
    border-top: 2px solid black;
}